h1,
h4,
h5,
h6 {
  font-family: $family-sans-serif-sub;
  text-transform: uppercase;
}

h2,
h3 {
  &.title {
    font-weight: 400;
  }
}

a {
  transition: color 0.2s;
  &.link-light {
    color: $yellow !important;
    &:hover {
      text-decoration: underline;
    }
  }
}

p {
  a {
    color: $yellow !important;
    &:hover {
      text-decoration: underline;
    }
  }
}
