@import '~bulma/sass/utilities/initial-variables.sass';

//Color variables
$black: #0b0e11;
$black-grey: #0a090b;
$grey-dark: #0c0c0f;
$grey-blue: #162637;
$blue: rgb(46, 89, 155);
$grey-darker-alpha: rgba(18, 23, 28, 0.75);
$purple: #b133ec;
$yellow: #e6b250;
$yellow-dark: #9e690b;
$red: #8c1807;

//Theme colors
$scheme-main: $black-grey;
$primary: $grey-blue;
$secondary: $purple;
$light: $yellow;
$info: $blue;

$background-primary: $black-grey;
$background-secondary: $grey-dark;
$background-accent: $grey-blue;
$background-header-effect: $grey-darker-alpha;
$background-header: $background-secondary;
$background-footer: $background-secondary;

$border-primary: $white-bis;
$border-accent: $yellow;

$text: $white-bis;
$link: $white-bis;
$link-hover: $yellow;
$text-strong: $white-bis;
$border-light: #f3f3f3;

$family-sans-serif: 'Montserrat', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$family-sans-serif-sub: 'Julius Sans One', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$fullhd: 1664px + (2 * $gap);

@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/helpers/_all.sass';
@import './mixins.scss';
