@import '~bulma/sass/utilities/initial-variables.sass';

$grey-darkest: rgb(15, 26, 37);
$grey-darker: rgb(17, 23, 30);
$grey-dark: rgb(30, 39, 48);
$grey: rgb(28, 35, 43);
$blue: rgb(22, 38, 55);
$purple: #b133ec;
$scheme-main: $grey-darker;
$family-sans-serif: 'Montserrat', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$family-sans-serif-sub: 'Julius Sans One', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$text: $white-bis;
$link: $white-bis;
$link-hover: #e6b250;
$fullhd: 1664px + (2 * $gap);
$text-strong: $white-bis;
$border-light: #f3f3f3;

@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/helpers/_all.sass';
@import './mixins.scss';
