@mixin layoutScrolled {
  .page-wrapper.scrolled {
    @content;
  }
}

@function boxShadow($amount, $right, $color) {
  $box-shadow: '';
  $shadows: '';
  @for $i from 1 through $amount {
    @if $right {
      $shadows: -#{$i}px #{$i}px #{$color};
    } @else {
      $shadows: #{$i}px #{$i}px #{$color};
    }

    $box-shadow: $box-shadow + $shadows + ' ,';
  }
  @return str_slice(unquote($box-shadow), 0, str_length($box-shadow)-1);
}
