@media (max-width: 1727px) {
  .container {
    max-width: none !important;
  }
}

.section {
  &.content {
    margin-bottom: 150px;
  }
  &.lighter {
    background-color: $background-secondary;
  }
  &.last {
    padding-bottom: 150px;
    margin-bottom: 0;
  }
  &.no-hero {
    margin-top: 150px;
    &.lighter {
      margin-top: 78px;
      padding-top: 150px;
    }
  }
  @media (max-width: 718px) {
    padding: 1rem 1.5rem;
    &.content {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &.mobile {
    display: none;
    @media (max-width: 718px) {
      display: block;
    }
  }
}

.section-title {
  position: relative;
  display: flex;
  margin: 40px 0 50px 0;
  &::before {
    position: absolute;
    bottom: -15px;
    content: '';
    width: 25%;
    height: 1px;
    background-color: $grey;
  }
}

.hero {
  max-width: 100%;
  flex-direction: row;
  max-height: none;
  align-items: center;
  position: relative;
  width: 100%;
  height: 800px;
  min-height: 300px;
  margin-bottom: 100px;
  @media (max-width: 1250px) {
    height: 500px;
  }
  @media (max-width: 718px) {
    margin-bottom: 0;
    height: 400px;
  }

  &.subpage {
    height: calc(40vh);
  }

  .image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
  }
}

.angle-right {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0px;
  background: linear-gradient(
      to right bottom,
      transparent 49%,
      $background-primary 50%
    ),
    linear-gradient(-50deg, $background-primary 16px, transparent 0);
  z-index: 2;
  @media (max-width: 718px) {
    display: none;
  }
}

.angle-left {
  width: 100%;
  height: 23px;
  position: absolute;
  left: 0px;
  bottom: 0;
  background: linear-gradient(
    to left bottom,
    transparent 49%,
    $background-primary 50%
  );
  z-index: 2;
  @media (max-width: 718px) {
    display: none;
  }
}

button {
  transition: 0.2s;
  &.is-secondary {
    &:focus,
    &:active {
      color: $link;
      outline: 0;
      border-color: #dbdbdb;
    }
  }
  &.is-primary {
    &.enabled {
      background: $yellow;
    }
    &.action {
      background: $red;
    }
    &.functional:hover {
      background: $yellow !important;
    }
  }
}
